# Full path to the System Under Test (or Java Main Class name)
executable:${TEXTTEST_ROOT}/../bin/copier

# Naming scheme to use for files for stdin,stdout and stderr
filename_convention_scheme:standard

# Expanded name to use for application
full_name:copier-salt-winrepo

create_catalogues:true

[collate_file]
check-json-in-config_py:.cicd/check-json-in-config.py
full_run_win_yml:.github/workflows/full_run_win.yml
main_yml:.github/workflows/main.yml
minion:.cicd/minion
pre-commit_yaml:.pre-commit-config.yaml
releaserc_cjs:.releaserc.cjs
renovate_json5:.github/renovate.json5
requirements_txt:.cicd/requirements.txt
tests_py:.cicd/tests.py
transform-json:.cicd/transform-json

[run_dependent_text]
full_run_win_yml:(-? uses: [\w-]+\/[.\w-]+)@.+${REPLACE \1@version}
main_yml:(-? uses: [\w-]+\/[.\w-]+)@.+${REPLACE \1@version}
main_yml:([A-Za-z0-9_]+?-version:) \S+{REPLACE \1 version}
pre-commit_yaml:(rev:) \S+{REPLACE \1 version}
stderr:Copying from template version
stderr:DirtyLocalWarning{LINES 2}
stderr:No git tags found in template; using HEAD as ref
stderr:create
stderr:conflict
stderr:identical
stderr:overwrite
stderr:skip
